<div class="row mx-0">
    <div class="col-md-12 mb-3">
        <div class="d-flex team-stack-general">
            <label class="text-primary mr-1">Total:</label>
            <span class="total-stack-percent font-weight-bold">0</span>
            <span class="mx-1">%</span>
            <label class="text-primary mr-1 ml-4">Global:</label>
            <span class="mr-2 team-min"></span>
            <div class="slider-range mx-1 mt-2" data-is-general="true"></div>
            <span class="ml-2 team-max"></span>
            <label class="form-check-label ml-5">
                <input class="form-check-input stack-enable" type="checkbox" onchange="stackEnable(this);"> Enable Team Stacking
            </label>
        </div>
    </div>
{% for ii in teams %}
  <div class="col-md-6 mb-2 mt-1">
    <div class="d-flex team-stack-item tm_{{ ii }}" data-team="{{ ii }}">
        <img src="/static/img/teams/{{ ii }}.jpg" style="height: 30px;">
        <input type="number" class="ml-1 pl-1 rounded border border-light team-percent text-right" min="0" max="100" step="1" onchange="changeStackPercent(event)">
        <span class="ml-1 mt-1 mr-3">%</span>
        <span class="mr-2 mt-1 team-min">1</span>
        <div class="slider-range mx-1"></div>
        <span class="ml-2 mt-1 team-max">4</span>
    </div>
  </div>
{% endfor %}
</div>